.banner_success img {
  margin-top: 0px;
  text-align: center;
  width: 100%;
}
.successImgBox {
  width: 100%;
  text-align: center;
}
.s_title {
  text-align: center;
  font-weight: 700;
  font-size: 45px;
}
.s_icon {
  width: 60px;
  padding-top: 174px;
  margin-bottom: 20px;
}
.s_button {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 200px;
}
